Megaminds/Megaminds/Service References/Search/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page2/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page2/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetSolarEnergy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSolarEnergy" />
  </wsdl:message>
  <wsdl:message name="IService_GetSolarEnergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSolarEnergyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetWindEnergy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWindEnergy" />
  </wsdl:message>
  <wsdl:message name="IService_GetWindEnergy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWindEnergyResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getNearByCities_InputMessage">
    <wsdl:part name="parameters" element="tns:getNearByCities" />
  </wsdl:message>
  <wsdl:message name="IService_getNearByCities_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNearByCitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_findBeautySalons_InputMessage">
    <wsdl:part name="parameters" element="tns:findBeautySalons" />
  </wsdl:message>
  <wsdl:message name="IService_findBeautySalons_OutputMessage">
    <wsdl:part name="parameters" element="tns:findBeautySalonsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getStationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:getStationInfo" />
  </wsdl:message>
  <wsdl:message name="IService_getStationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStationInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetSolarEnergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetSolarEnergy" message="tns:IService_GetSolarEnergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetSolarEnergyResponse" message="tns:IService_GetSolarEnergy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWindEnergy">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetWindEnergy" message="tns:IService_GetWindEnergy_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetWindEnergyResponse" message="tns:IService_GetWindEnergy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNearByCities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getNearByCities" message="tns:IService_getNearByCities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getNearByCitiesResponse" message="tns:IService_getNearByCities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findBeautySalons">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/findBeautySalons" message="tns:IService_findBeautySalons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/findBeautySalonsResponse" message="tns:IService_findBeautySalons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStationInfo" message="tns:IService_getStationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStationInfoResponse" message="tns:IService_getStationInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSolarEnergy">
      <soap:operation soapAction="http://tempuri.org/IService/GetSolarEnergy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWindEnergy">
      <soap:operation soapAction="http://tempuri.org/IService/GetWindEnergy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNearByCities">
      <soap:operation soapAction="http://tempuri.org/IService/getNearByCities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findBeautySalons">
      <soap:operation soapAction="http://tempuri.org/IService/findBeautySalons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStationInfo">
      <soap:operation soapAction="http://tempuri.org/IService/getStationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://webstrar39.fulton.asu.edu/Page2/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>