Megaminds/Megaminds/Service References/Search/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSolarEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSolarEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSolarEnergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindEnergy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWindEnergyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWindEnergyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearByCities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNearByCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getNearByCitiesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findBeautySalons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="salonType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findBeautySalonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="findBeautySalonsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stationType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStationInfoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>