Megaminds/Megaminds/Service References/Geocoder/Search.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetNearestStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNearestStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNearestStoreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="storeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchForResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchForResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmergencyServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="emergencyType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmergencyServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetEmergencyServicesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaturalHazards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNaturalHazardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNaturalHazardsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocodeFromCityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cityName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocodeFromCityNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeocodeFromCityNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocodeFromZipCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeocodeFromZipCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetGeocodeFromZipCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCodeFromGeocode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetZipCodeFromGeocodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetZipCodeFromGeocodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>