Megaminds/Megaminds/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RequiredServices" />
      <xsd:import schemaLocation="http://webstrar39.fulton.asu.edu/Page5/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NewsFocus_InputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocus" />
  </wsdl:message>
  <wsdl:message name="IService1_NewsFocus_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewsFocusResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getNearestBankAtm_InputMessage">
    <wsdl:part name="parameters" element="tns:getNearestBankAtm" />
  </wsdl:message>
  <wsdl:message name="IService1_getNearestBankAtm_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNearestBankAtmResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTouristAttraction_InputMessage">
    <wsdl:part name="parameters" element="tns:getTouristAttraction" />
  </wsdl:message>
  <wsdl:message name="IService1_getTouristAttraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTouristAttractionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getUpcomingEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:getUpcomingEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_getUpcomingEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUpcomingEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NewsFocus" message="tns:IService1_NewsFocus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NewsFocusResponse" message="tns:IService1_NewsFocus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Weather5day" message="tns:IService1_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Weather5dayResponse" message="tns:IService1_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNearestBankAtm">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getNearestBankAtm" message="tns:IService1_getNearestBankAtm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNearestBankAtmResponse" message="tns:IService1_getNearestBankAtm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTouristAttraction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTouristAttraction" message="tns:IService1_getTouristAttraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTouristAttractionResponse" message="tns:IService1_getTouristAttraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUpcomingEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getUpcomingEvents" message="tns:IService1_getUpcomingEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getUpcomingEventsResponse" message="tns:IService1_getUpcomingEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewsFocus">
      <soap:operation soapAction="http://tempuri.org/IService1/NewsFocus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService1/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNearestBankAtm">
      <soap:operation soapAction="http://tempuri.org/IService1/getNearestBankAtm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTouristAttraction">
      <soap:operation soapAction="http://tempuri.org/IService1/getTouristAttraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUpcomingEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/getUpcomingEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar39.fulton.asu.edu/Page5/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>